<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="C1.C1Excel.2" publicKeyToken="79882D576C6336DA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.20121.228" newVersion="2.1.20121.228"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="C1.Win.C1Command.2" publicKeyToken="E808566F358766D8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.20073.19306" newVersion="2.0.20073.19306"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
