<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RSMPS.Properties.Settings.RSManpowerSchDBConnectionString"
            connectionString="Data Source=HGASQLSERVER;Initial Catalog=RSManpowerSchDB;Persist Security Info=True;User ID=RSMPUser;Password=RSMPPass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>