<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="C1.C1Excel.2" publicKeyToken="79882D576C6336DA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.20121.228" newVersion="2.1.20121.228"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
